.dasbinich{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: cursive;
}

.Hey{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: cursive;
    width: 1000px;
    margin-left: 500px;
}

.Bild{
    width: 1100px;
    height: 1900px;
}

.Home {
  position: absolute;
  font-family: cursive;
  font-size: larger;
  padding: 20px;
  border: 3px solid black;
  width: 200px;
  margin-left: 800px;
  margin-top: 190px;
}

.Home:hover{
  transition: all .4s;
  scale: 1.2;
}